:local(.cnt){
    position:absolute;
    top:0;
    left:0;
    right:0;
    overflow:hidden;
    bottom:0;
    display:grid;
    grid-template-rows: auto 1fr auto auto;
}
:local(.topbar){
    padding:10px;
    font-family: 'Orbitron', sans-serif;
    display:grid;
    grid-template-columns: auto auto;

    :local(.points){
        text-align: left;
    }
    :local(.points){
        text-align: left;
    }
    :local(.lives){
        text-align: right;
        img{
            width:20px;
            margin:0 5px;
        }
    }
    background:#444;
    color:#fff;
}
:local(.display){
    font-size:48px;
    padding:20px;
    text-align: center;
    font-weight: 600;
    margin: 20px;
    border-radius: 10px;
    display:grid;
    gap:15px;
    font-family: 'Orbitron', sans-serif;
    :local(.operation){
        display:grid;
        grid-template-columns: auto auto auto;
        align-items:center;
        justify-content:center;
        gap: 25px;
    }
    :local(.operator1){
        text-align:right;
    }
    :local(.operator2){
        text-align:left;
    }
    :local(.result){
        input{
            font-size:48px;
            text-align: center;
            border:0;
            width: 80%;
            max-width:400px;
            font-weight: 500;
            font-family: 'Orbitron', sans-serif;
            outline: none;
            background: transparent;
            color:#f69;
            &[disabled]{
                color:#f69;
            }
            &::placeholder{
                color:#f69;
            }
        }
        background: transparent;
    }
    
}
:local(.input){
    margin:0px -1px -1px;
}

:local(.gameover){
    font-family: 'Orbitron', sans-serif;
    grid-template-rows: 1fr;
    padding:20px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

:local(.button){
    background:#f69;
    padding:20px;
    color:#fff;
    margin:0 auto;
    border-radius:10px;
    margin-top:20px;
    width:100%;
    text-align: center;
}