*{
  box-sizing: border-box;
}
body{
  
}
.App {
  background:#f5f5f5;
  position:relative;
  width:100%; 
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 600px){
  .App{
    height:calc(100% - 40px);
    left:50%;
    border:1px solid #ccc;
    margin:20px auto 20px -300px;
    max-width: 600px;
  }
}